{{ 'section-application-form.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- unless customer -%}
    {% comment %}
    <script>
        window.location.href = '/account/login';
    </script>
    {% endcomment %}
{%- endunless -%}

{%- style -%}
    #shopify-section-{{ section.id }} {
        --selected-border-color: {{ section.settings.selected_border_color }};
    }
{%- endstyle -%}

{%- liquid
    assign columns_mobile_int = section.settings.columns_mobile | plus: 0
    assign show_mobile_slider = false
    if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
        assign show_mobile_slider = true
    endif
-%}

<script>
    $(document).ready(function() {
        // カートをクリアする処理
        function clearCart() {
            $.ajax({
                type: 'POST',
                url: '/cart/clear.js',
                success: function() {
                    console.log('カートをクリアしました');
                    initializeSelection();
                },
                error: function(error) {
                    console.log('Error clearing cart:', error);
                }
            });
        }
    
        // ログインを確認する処理
        function checkLoginStatus() {
            $.ajax({
                url: '/account',
                type: 'GET',
                success: function(data) {
                    if ($(data).find('.customer').length === 0) {
                        console.log('ログインしていないためログインページにリダイレクト');
                        window.location.href = '/account/login';
                    }
                },
                error: function(error) {
                    console.log('Error checking login status:', error);
                }
            });
        }
    
        // 同意チェックボックスの初期化処理
        function initializeCheckboxes() {
            // チェックボックスの要素が存在するか確認
            var checkInterval = setInterval(function() {
                if ($('#terms-agree').length > 0 && $('#pre-check-agree').length > 0) {
                    clearInterval(checkInterval);
                    
                    // チェックボックスが存在することを確認してから初期化
                    $('#terms-agree').prop('checked', false);
                    $('#pre-check-agree').prop('checked', false);
                    
                    // ボタンの状態も連動して更新
                    $('.submit-button button').prop('disabled', true).addClass('disabled');
                    $('.error-message').show();
        
                    console.log('同意チェックボックスを初期化しました');
                }
            }, 100); // 100ミリ秒ごとにチェック
        }
        
        // ページ読み込み時に実行
        initializeCheckboxes();
        clearCart();
        checkLoginStatus();
    

        function updateDeliveryOptions() {
            var cutoffDays = {{ section.settings.delivery_next_month_cutoff_days }};
            var immediateToNextMonthDays = {{ section.settings.delivery_immediate_to_next_month_days }};
            var currentDate = new Date();
            var currentYear = currentDate.getFullYear();
            var currentMonth = currentDate.getMonth() + 1;
            var lastDayOfMonth = new Date(currentYear, currentMonth, 0).getDate();
            var remainingDays = lastDayOfMonth - currentDate.getDate();

            if (remainingDays <= cutoffDays) {
                $('.disabled-overlay').show();
                $('input[name="delivery-option"][value="翌月初から利用"]').prop('disabled', true).closest('li').addClass('disabled');
                $('input[name="delivery-option"][value="翌月初から利用"]').closest('li').append('<div class="disabled-overlay">月末の' + cutoffDays + '日前はお申し込みいただけません</div>');
            }
        }

        updateDeliveryOptions();

        var plans = {
            "plan1": {
                "product": {{ section.settings.basic_plan_1_product | json }},
                "title": "{{ section.settings.basic_plan_1_title }}",
                "image": "{{ section.settings.basic_plan_1_product.featured_image | img_url: 'medium' }}",
                "variants": [
                {% for variant in section.settings.basic_plan_1_product.variants %}
                    {
                    "id": {{ variant.id }},
                    "title": "{{ variant.title }}",
                    "price": {{ variant.price }},
                    "desc": {% capture var_desc %}{% if variant.metafields.custom.data_vol_desc %}{{ variant.metafields.custom.data_vol_desc.value | json }}{% else %}null{% endif %}{% endcapture %}{{ var_desc }},
                    "color": {% capture var_color %}{% if variant.metafields.custom.data_vol_color %}{{ variant.metafields.custom.data_vol_color.value | json }}{% else %}null{% endif %}{% endcapture %}{{ var_color }}
                    }{% unless forloop.last %},{% endunless %}
                {% endfor %}
                ],
                "selling_plan_id": {
                    "immediate": "{{ section.settings.basic_plan_1_1_selling_plan_id }}",
                    "next_month": "{{ section.settings.basic_plan_1_2_selling_plan_id }}"
                },
                "rental_variant_id": "{{ section.settings.basic_plan_1_rental_variant_id }}"
            },
            "plan2": {
                "product": {{ section.settings.basic_plan_2_product | json }},
                "title": "{{ section.settings.basic_plan_2_title }}",
                "image": "{{ section.settings.basic_plan_2_product.featured_image | img_url: 'medium' }}",
                "variants": [
                    {% for variant in section.settings.basic_plan_2_product.variants %}
                    {
                        "id": {{ variant.id }},
                        "title": "{{ variant.title }}",
                        "price": {{ variant.price }},
                        "desc": {% capture var_desc %}{% if variant.metafields.custom.data_vol_desc %}{{ variant.metafields.custom.data_vol_desc.value | json }}{% else %}null{% endif %}{% endcapture %}{{ var_desc }},
                        "color": {% capture var_color %}{% if variant.metafields.custom.data_vol_color %}{{ variant.metafields.custom.data_vol_color.value | json }}{% else %}null{% endif %}{% endcapture %}{{ var_color }}
                    }{% unless forloop.last %},{% endunless %}
                    {% endfor %}
                ],
                "selling_plan_id": {
                    "immediate": "{{ section.settings.basic_plan_2-1_selling_plan_id }}",
                    "next_month": "{{ section.settings.basic_plan_2-2_selling_plan_id }}"
                },
                "rental_variant_id": "{{ section.settings.basic_plan_2_rental_variant_id }}"
            }
        };

        console.log('Plans:', plans);

        var insuranceSellingPlanIds = {
            "immediate": "{{ section.settings.insurance_1_selling_plan_id }}",
            "next_month": "{{ section.settings.insurance_2_selling_plan_id }}"
        };

        function updateDataPlanOptions(selectedPlan) {
            var plan = plans[selectedPlan];
            var $dataPlanOptions = $('.data-plan-options');
            var tax_excluded_price;
            var tax_included_price;
            var data_options_body;
            var index = 0;
            $dataPlanOptions.empty();
            $.each(plan.variants, function(index, variant) {
                var dataVolDesc = variant.desc ? variant.desc : '商品説明がありません。商品バリエーションのメタフィールドに説明文を入力してください。';
                var dataVolColor = variant.color ? variant.color : '#333';
                tax_excluded_price = String((variant.price / 1.1 / 100).toFixed(0)).replace( /(\d)(?=(\d\d\d)+(?!\d))/g, '$1,' );
                tax_included_price = String((variant.price / 100)).replace( /(\d)(?=(\d\d\d)+(?!\d))/g, '$1,' );
                index = index + 1;

                data_options_body = '<li id="Slide-{{ section.id }}-' + index + '" ' +
                    'class="application-form__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == "center" %} center{% endif %} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" style="--animation-order: ' + index + '">' +
                    '<label class="data-plan-option">' +
                    '<input type="radio" name="data-plan" value="' + variant.id + '" ' + (index === 0 ? 'checked' : '') + ' />' +
                    '<h3 class="data-vol"><span style="color:' + dataVolColor + '">' + variant.title.replace("GB","") + '</span><small>GB</small></h3>' +
                    '<h3 class="price"><span class="monthly">月額</span><span style="color:' + dataVolColor + '">' + tax_excluded_price + '</span><small>円</small>' +
                    '<small class="tax-inc-price">税込' + tax_included_price + '円</small></h3>' +
                    '<p>' + dataVolDesc + '</p>' +
                    '</label>' +
                    '</li>';

                $dataPlanOptions.append(data_options_body);
            });

            $('input[name="data-plan"]:first').prop('checked', true).closest('li').addClass('selected-item');
            $('input[name="data-plan"]').change(function() {
                $('input[name="data-plan"]').each(function() {
                    if ($(this).is(':checked')) {
                        $(this).closest('li').addClass('selected-item');
                    } else {
                        $(this).closest('li').removeClass('selected-item');
                    }
                });
            });
        }

        function initializeSelection() {
            $('input[type="radio"]').each(function() {
                if ($(this).is(':checked')) {
                    $(this).closest('li').addClass('selected-item');
                } else {
                    $(this).closest('li').removeClass('selected-item');
                }
            });

            $('input[type="radio"]').change(function() {
                var name = $(this).attr('name');
                $('input[name="' + name + '"]').each(function() {
                    if ($(this).is(':checked')) {
                        $(this).closest('li').addClass('selected-item');
                    } else {
                        $(this).closest('li').removeClass('selected-item');
                    }
                });
            });
        }

        $('input[name="basic-plan"]:first').prop('checked', true);
        var selectedPlan = $('input[name="basic-plan"]:checked').val();
        updateDataPlanOptions(selectedPlan);

        $('input[name="basic-plan"]').change(function() {
            var selectedPlan = $('input[name="basic-plan"]:checked').val();
            updateDataPlanOptions(selectedPlan);
            $('input[name="basic-plan"]').each(function() {
                if ($(this).is(':checked')) {
                    $(this).closest('li').addClass('selected-item');
                } else {
                    $(this).closest('li').removeClass('selected-item');
                }
            });
        });

        function checkAgreements() {
            var $button = $('.submit-button button');
            if ($('#terms-agree').is(':checked') && $('#pre-check-agree').is(':checked')) {
                $button.prop('disabled', false).removeClass('disabled');
                $('.error-message').hide();
            } else {
                $button.prop('disabled', true).addClass('disabled');
                $('.error-message').show();
            }
        }

        $('#terms-agree, #pre-check-agree').change(function() {
            checkAgreements();
        });

        checkAgreements();

        $('.submit-button button').click(function(event) {
            if (!$('#terms-agree').is(':checked') || !$('#pre-check-agree').is(':checked')) {
                event.preventDefault();
                $('.error-message').show();
            } else {
                event.preventDefault();
                var selectedBasicPlan = $('input[name="basic-plan"]:checked').val();
                var selectedDataPlan = $('input[name="data-plan"]:checked').val();
                var productID = plans[selectedBasicPlan].product.id;
                var variantID = selectedDataPlan;
                var orderQuantity = $('input[name="order-quantity"]').val();
                var deliveryOption = $('input[name="delivery-option"]:checked').val();
                var deliveryOptionText;
                var billing_timming_text;
                var basicPlanSellingPlanId;
                var insuranceSellingPlanId;

                var currentDate = new Date();
                var currentYear = currentDate.getFullYear();
                var currentMonth = currentDate.getMonth() + 1;
                var lastDayOfMonth = new Date(currentYear, currentMonth, 0).getDate();
                var remainingDays = lastDayOfMonth - currentDate.getDate();

                // お届けオプションに基づいて適切な selling_plan_id を設定
                if (deliveryOption === 'すぐに発送') { // 配送オプションが「すぐに発送」の場合
                    if (remainingDays > {{ section.settings.delivery_immediate_to_next_month_days }}) { // 月末から指定の日数（設定値）よりも多く日数が残っている場合
                        basicPlanSellingPlanId = plans[selectedBasicPlan].selling_plan_id.immediate; // 即時発送のSelling Plan IDを使用
                        deliveryOptionText = 'すぐに発送';
                    } else {
                        basicPlanSellingPlanId = plans[selectedBasicPlan].selling_plan_id.next_month; // 翌月開始のSelling Plan IDを使用
                        deliveryOptionText = 'すぐに発送';
                    }
                insuranceSellingPlanId = insuranceSellingPlanIds.immediate; // 補償オプションの即時発送のSelling Plan IDを使用
                } else if (deliveryOption === '翌月初から利用') { // 配送オプションが「翌月初から利用」の場合
                    basicPlanSellingPlanId = plans[selectedBasicPlan].selling_plan_id.next_month; // 翌月開始のSelling Plan IDを使用
                    insuranceSellingPlanId = insuranceSellingPlanIds.next_month; // 補償オプションの翌月開始のSelling Plan IDを使用
                    deliveryOptionText = '翌月初から利用';
                }

                // 追加条件: 申込み日が月末からdelivery_next_month_start_day日前でかつ月末から（delivery_immediate_to_next_month_days + 1）日の期間の場合
                if (remainingDays <= {{ section.settings.delivery_next_month_start_day }} && remainingDays > {{ section.settings.delivery_immediate_to_next_month_days }} + 1) {
                    billing_timming_text = '翌月1日に2回目のご請求';
                }

                // デバッグ用ログ
                console.log('billing_timming_text:', billing_timming_text);

                var items = [];

                // 初期費用
                items.push({
                    id: "{{ section.settings.initial_cost_product.variants.first.id }}",
                    quantity: orderQuantity
                });

                // データ容量プラン
                var dataPlanItem = {
                    id: variantID,
                    quantity: orderQuantity,
                    selling_plan: basicPlanSellingPlanId
                };
                
                if (billing_timming_text) {
                    dataPlanItem.properties = {
                        "次回ご請求": billing_timming_text
                    };
                }
                
                items.push(dataPlanItem);
                
                // レンタル端末
                items.push({
                    id: plans[selectedBasicPlan].rental_variant_id, // Basic Planに応じたvariant IDを使用
                    quantity: orderQuantity,
                    properties: {
                        "発送タイミング": deliveryOptionText
                    }
                });
                
                // 補償オプション
                if ($('input[name="insurance-option"]:checked').val() !== "none") {
                var insuranceItem = {
                    id: "{{ section.settings.insurance_product.variants.first.id }}",
                    quantity: orderQuantity,
                    selling_plan: insuranceSellingPlanId
                };

                if (billing_timming_text) {
                    insuranceItem.properties = {
                      "次回ご請求": billing_timming_text
                    };
                }

                items.push(insuranceItem);
                }
                
                console.log("Items to add to cart:", items);
                
                $.ajax({
                    type: 'POST',
                    url: '/cart/add.js',
                    data: JSON.stringify({ items: items.reverse() }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function() {
                        window.location.href = '/cart';
                    },
                    error: function(error) {
                        console.log("Error adding to cart:", error);
                    }
                });
            }
        });
        
        $('input[name="insurance-option"]:first').prop('checked', true).closest('li').addClass('selected-item');
        $('input[name="delivery-option"]:first').prop('checked', true).closest('li').addClass('selected-item');
        initializeSelection();
    });
</script>



<div class="application-form has-diagonal-background">
  <div class="page-width section section-{{ section.id }}-padding animate--slide-in">
    <!-- 基本プラン選択 -->
    <div class="basic-plan">
      <h2 class="app__heading top">基本プランを選択</h2>
      <slider-component class="slider-mobile-gutter">
        <ul class="basic-plan-options contains-content-container grid grid--1-col-tablet-down grid--2-col-desktop slider slider--tablet grid--peek">
          <li class="application-form__item grid__item slider__slide scroll-trigger animate--slide-in" style="--animation-order: 1">
            <label class="basic-plan-option">
              <input type="radio" name="basic-plan" value="plan1">
              <img
                src="{{ section.settings.basic_plan_1_product.featured_image | img_url: 'medium' }}"
                alt="{{ section.settings.basic_plan_1_title }}"
              >
              <h3 class="title">{{ section.settings.basic_plan_1_title }}</h3>
              <p>{{ section.settings.basic_plan_1_product.description }}</p>
            </label>
          </li>
          <li class="application-form__item grid__item slider__slide scroll-trigger animate--slide-in" style="--animation-order: 2">
            <label class="basic-plan-option">
              <input type="radio" name="basic-plan" value="plan2">
              <img
                src="{{ section.settings.basic_plan_2_product.featured_image | img_url: 'medium' }}"
                alt="{{ section.settings.basic_plan_2_title }}"
              >
              <h3 class="title">{{ section.settings.basic_plan_2_title }}</h3>
              <p>{{ section.settings.basic_plan_2_product.description }}</p>
            </label>
          </li>
        </ul>
        <div class="slider-buttons large-up-hide">
          <span class="swipe-comment">◀ スワイプしてプランを選択してください ▶</span>
        </div>
      </slider-component>
    </div>

    <!-- データ容量プラン選択 -->
    <div class="data-plan">
      <h2 class="app__heading">データ容量プランを選択</h2>
      <slider-component class="slider-mobile-gutter">
        <ul
          class="data-plan-options contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop slider slider--tablet grid--peek"
          id="Slider-{{ section.id }}"
          role="list"
        >
          <!-- デフォルトでは空です。基本プランを選択すると内容が動的に表示されます -->
        </ul>
        <div class="slider-buttons large-up-hide">
          <span class="swipe-comment">◀ スワイプしてプランを選択してください ▶</span>
        </div>
      </slider-component>
    </div>

    <!-- 補償オプション選択 -->
    <div class="insurance-option">
        <h2 class="app__heading">補償オプションを選択</h2>
        <slider-component class="slider-mobile-gutter">
        <ul class="insurance-option-options contains-content-container grid grid--1-col-tablet-down grid--2-col-desktop slider slider--tablet grid--peek">
        <li class="application-form__item grid__item slider__slide scroll-trigger animate--slide-in" style="--animation-order: 1">
            <label class="insurance-option-option">
            <input type="radio" name="insurance-option" value="{{ section.settings.insurance_product }}" checked>
            <img src="{{ section.settings.insurance_product.featured_image | img_url: 'medium' }}" alt="補償パック">
            <h3 class="title">{{ section.settings.insurance_product.title }}に加入する</h3>
            <div class="insurance-option-content">
              <p class="insurance-option-price">月額：＋{{ section.settings.insurance_product.price | divided_by: 1.1 | round: 0 | money_without_currency }}円<small>（税込{{ section.settings.insurance_product.price | money_without_currency }}円）</small></p>
              {{ section.settings.insurance_summary }}
            </div>
            <button type="button" class="btn-apply" onclick="openInsuranceDetailModal()">安心補償パックの詳細</button>
            </label>
        </li>
        <li class="application-form__item grid__item slider__slide scroll-trigger animate--slide-in" style="--animation-order: 2">
            <label class="insurance-option-option">
            <input type="radio" name="insurance-option" value="none">
            <img
                src="{{ section.settings.insurance_none_image | img_url: 'medium' }}"
                alt="{{ section.settings.insurance_none_title }}"
            >
            <h3 class="title">{{ section.settings.insurance_none_title }}</h3>
            <div class="insurance-option-content">
              <p class="insurance-option-caution">≪ ご注意ください ≫</p>
              {{ section.settings.insurance_none_description }}
            </div>
            </label>
        </li>
        </ul>
        <div class="slider-buttons large-up-hide">
          <span class="swipe-comment">◀ スワイプしてプランを選択してください ▶</span>
        </div>
      </slider-component>
    </div>

    <!-- 補償パック詳細モーダルHTML -->
    <div id="insuranceDetailModal" class="modal">
        <div class="modal-content">
            <h2>{{ section.settings.insurance_product.title }}について</h2>
            <p>{{ section.settings.insurance_product.content }}</p>
            <div class="modal-footer">
                <button type="button" class="btn-apply grey" style="margin-top:1rem;width: 100%;" onclick="closeInsuranceDetailModal()">閉じる</button>
            </div>
        </div>
    </div>

    <!-- 補償パック切り替えモーダルHTML -->
    <div id="insuranceChangeModal" class="modal">
        <div class="modal-content">
            <img src="{{ section.settings.insurance_none_alert_image | img_url: 'large' }}" alt="補償オプションなしの警告画像">
            <p>{{ section.settings.insurance_none_alert_message }}</p>
            <div class="modal-footer">
                <button type="button" class="btn-apply" id="cancel-no-insurance" style="margin-top:1rem;width: 100%;">安心補償パックを付ける</button>
                <button type="button" class="btn-apply grey" style="margin-top:1rem;width: 100%;" id="confirm-no-insurance">安心補償パックを付けない</button>
            </div>
        </div>
    </div>

    <script>
        function openInsuranceDetailModal() {
            document.getElementById('insuranceDetailModal').style.display = 'block';
        }
    
        function closeInsuranceDetailModal() {
            document.getElementById('insuranceDetailModal').style.display = 'none';
        }
    
        function openInsuranceChangeModal() {
            document.getElementById('insuranceChangeModal').style.display = 'block';
        }
    
        function closeInsuranceChangeModal() {
            document.getElementById('insuranceChangeModal').style.display = 'none';
        }
    
        var changeModal = document.getElementById('insuranceChangeModal');
        var detailModal = document.getElementById('insuranceDetailModal');
        
        $('input[name="insurance-option"]').change(function() {
            if ($(this).val() === "none") {
                openInsuranceChangeModal();
            }
        });
    
        $('#confirm-no-insurance').click(function() {
            closeInsuranceChangeModal();
        });
    
        $('#cancel-no-insurance').click(function() {
            $('input[name="insurance-option"][value="{{ section.settings.insurance_product }}"]').prop('checked', true).trigger('change');
            closeInsuranceChangeModal();
        });
    
        $(window).click(function(event) {
            if (event.target == changeModal) {
                closeInsuranceChangeModal();
            }
            if (event.target == detailModal) {
                closeInsuranceDetailModal();
            }
        });
    </script>


    <!-- お届けについて -->
    <div class="delivery-option">
      <h2 class="app__heading">お届けについて</h2>
        <slider-component class="slider-mobile-gutter">
        <ul class="delivery-option-options contains-content-container grid grid--1-col-tablet-down grid--2-col-desktop slider slider--tablet grid--peek">
          <li class="application-form__item grid__item slider__slide scroll-trigger animate--slide-in" style="--animation-order: 1">
            <label class="delivery-option-option">
              <input type="radio" name="delivery-option" value="すぐに発送" checked>
              <img
                src="{{ section.settings.delivery_immediate_image | img_url: 'medium' }}"
                alt="{{ section.settings.delivery_immediate_title }}"
              >
              <h3 class="title">{{ section.settings.delivery_immediate_title }}</h3>
              <p>{{ section.settings.delivery_immediate_description }}</p>
            </label>
          </li>
          <li class="application-form__item grid__item slider__slide scroll-trigger animate--slide-in" style="--animation-order: 2">
            <label class="delivery-option-option">
              <input type="radio" name="delivery-option" value="翌月初から利用">
              <img
                src="{{ section.settings.delivery_next_month_image | img_url: 'medium' }}"
                alt="{{ section.settings.delivery_next_month_title }}"
              >
              <h3 class="title">{{ section.settings.delivery_next_month_title }}</h3>
              <p>{{ section.settings.delivery_next_month_description }}</p>
              <div class="disabled-overlay" style="display:none;">月末の{{ section.settings.delivery_next_month_cutoff_days }}日前はお申し込みいただけません</div>
            </label>
          </li>
        </ul>
        <div class="slider-buttons large-up-hide">
          <span class="swipe-comment">◀ スワイプしてプランを選択してください ▶</span>
        </div>
      </slider-component>
    </div>

    <!-- 台数指定 -->
    <div class="order-quantity">
      <h2 class="app__heading">ご注文台数</h2>
      <ul>
        <li style="width: 150px;">
          <quantity-input class="quantity cart-quantity">
            <button class="quantity__button" name="minus" type="button">
              <span class="visually-hidden">注文台数を減らす</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                class="icon icon-minus"
                fill="none"
                viewBox="0 0 10 2"
              >
                <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor">
                </path>
              </svg>
            </button>
            <input
              name="order-quantity"
              class="quantity__input"
              type="number"
              value="1"
              min="1"
              max="5"
              data-min="1"
              step="1"
              aria-label="注文台数"
            >
            <button class="quantity__button" name="plus" type="button">
              <span class="visually-hidden">注文台数を増やす</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                class="icon icon-plus"
                fill="none"
                viewBox="0 0 10 10"
              >
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor">
                </path>
              </svg>
            </button>
          </quantity-input>
        </li>
        <li>台</li>
      </ul>
    </div>

    <!-- ご注意事項の確認 -->
    <div class="terms">
      <h2 class="app__heading">ご注意事項の確認</h2>
      <div class="terms-content">
        <div class="terms-text rte">{{ shop.terms_of_service.body }}</div>
        <label class="terms-agree">
          <input type="checkbox" id="terms-agree">
          <span>上記確認事項についてすべて同意します。</span>
        </label>
      </div>
    </div>

    <!-- お申し込み前の確認 -->
    <div class="pre-check">
      <h2 class="app__heading">お申し込み前の確認</h2>
      <div class="pre-check-content">
        <div class="pre-check-text rte">{{ shop.subscription_policy.body }}</div>
        <label class="pre-check-agree">
          <input type="checkbox" id="pre-check-agree">
          <span>上記確認事項についてすべて同意します。</span>
        </label>
      </div>
    </div>

    <!-- お申し込みの確認ボタン -->
    <div class="submit-button">
      <button type="button" class="btn-apply" disabled>
        {{ section.settings.button_text }}
      </button>
      <div class="error-message" style="display:none; color:red; margin-top:10px;">
        ご注文には確認事項への同意が必要です
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "申込みフォーム",
  "settings": [
    {
      "type": "header",
      "content": "基本設定"
    },
    {
      "type": "product",
      "id": "initial_cost_product",
      "label": "初期費用商品を選択"
    },
    {
      "type": "product",
      "id": "rental_device",
      "label": "レンタル端末商品を選択"
    },
    {
      "type": "color",
      "id": "selected_border_color",
      "info": "選択されたアイテムのボーダーカラー",
      "label": "カラー選択",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "基本プランを選択"
    },
    {
      "type": "product",
      "id": "basic_plan_1_product",
      "label": "基本プラン1の商品"
    },
    {
      "type": "text",
      "id": "basic_plan_1_title",
      "label": "基本プラン1のタイトル"
    },
    {
      "type": "text",
      "id": "basic_plan_1_1_selling_plan_id",
      "label": "基本プラン1の「当月開始」Selling Plan ID"
    },
    {
      "type": "text",
      "id": "basic_plan_1_2_selling_plan_id",
      "label": "基本プラン1の「翌月開始」Selling Plan ID"
    },
    {
      "type": "text",
      "id": "basic_plan_1_rental_variant_id",
      "label": "基本プラン1のレンタル端末バリエーションID"
    },
    {
      "type": "product",
      "id": "basic_plan_2_product",
      "label": "基本プラン2の商品"
    },
    {
      "type": "text",
      "id": "basic_plan_2_title",
      "label": "基本プラン2のタイトル"
    },
    {
      "type": "text",
      "id": "basic_plan_2-1_selling_plan_id",
      "label": "基本プラン2の「当月開始」Selling Plan ID"
    },
    {
      "type": "text",
      "id": "basic_plan_2-2_selling_plan_id",
      "label": "基本プラン2の「翌月開始」Selling Plan ID"
    },
    {
      "type": "text",
      "id": "basic_plan_2_rental_variant_id",
      "label": "基本プラン2のレンタル端末バリエーションID"
    },
    {
      "type": "header",
      "content": "補償オプションを選択"
    },
    {
      "type": "product",
      "id": "insurance_product",
      "label": "補償パックの商品"
    },
    {
        "type": "text",
        "id": "insurance_summary",
        "label": "補償パック概要のテキスト"
    },
    {
      "type": "text",
      "id": "insurance_1_selling_plan_id",
      "label": "補償オプションの「当月開始」Selling Plan ID"
    },
    {
      "type": "text",
      "id": "insurance_2_selling_plan_id",
      "label": "補償オプションの「翌月開始」Selling Plan ID"
    },
    {
      "type": "text",
      "id": "insurance_none_title",
      "label": "補償オプションなしのタイトル"
    },
    {
      "type": "image_picker",
      "id": "insurance_none_image",
      "label": "補償オプションなしの画像"
    },
    {
      "type": "richtext",
      "id": "insurance_none_description",
      "label": "補償オプションなしの説明文"
    },
    {
      "type": "image_picker",
      "id": "insurance_none_alert_image",
      "label": "補償オプションなしに切り替えた際のモーダル内画像"
    },
    {
      "type": "richtext",
      "id": "insurance_none_alert_message",
      "label": "補償オプションなしに切り替えた際のモーダル内テキスト"
    },
    {
      "type": "header",
      "content": "お届けについて"
    },
    {
      "type": "text",
      "id": "delivery_immediate_title",
      "label": "すぐに発送のタイトル"
    },
    {
      "type": "image_picker",
      "id": "delivery_immediate_image",
      "label": "すぐに発送の画像"
    },
    {
      "type": "richtext",
      "id": "delivery_immediate_description",
      "label": "すぐに発送の説明文"
    },
    {
      "type": "text",
      "id": "delivery_next_month_title",
      "label": "翌月初から利用のタイトル"
    },
    {
      "type": "image_picker",
      "id": "delivery_next_month_image",
      "label": "翌月初から利用の画像"
    },
    {
      "type": "richtext",
      "id": "delivery_next_month_description",
      "label": "翌月初から利用の説明文"
    },
    {
      "type": "number",
      "id": "delivery_immediate_to_next_month_days",
      "label": "「すぐに発送する」を翌月開始のSelling Planで受ける月末からの日数",
      "info": "月末から何日前までに「すぐに発送する」を選択した場合、翌月開始のSelling Planで受けるかを設定します。",
      "default": 3
    },
    {
      "type": "number",
      "id": "delivery_next_month_cutoff_days",
      "label": "「翌月初から利用」を選択不可にする月末からの日数",
      "info": "「月末から何日」を「翌月初から利用」を選択不可にする期間として設定します。",
      "default": 5
    },
    {
      "type": "number",
      "id": "delivery_next_month_start_day",
      "label": "「翌月初から利用」を当月開始のSelling Planで受ける月末からの日数",
      "info": "月末から何日前までに「翌月初から利用」を選択した場合、当月開始のSelling Planで受けるかを設定します。",
      "default": 14
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "ボタンテキスト",
      "default": "お申し込みの確認"
    }
  ],
  "presets": [
    {
      "name": "申込みフォーム"
    }
  ]
}
{% endschema %}
