{{ 'section-fixed-image.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
-%}

{% capture max_width_style %}
  max-width: {{ section.settings.max_width }}px;
{% endcapture %}

<div id="Fixed-image-{{ section.id }}" class="fixed-image color-{{ section.settings.color_scheme }} gradient{% if section.settings.diagonal_background %} has-diagonal-background{% endif %}">

  {%- if section.settings.image != blank -%}
    <div class="{% if section.settings.wide_type == false %}page-width {% endif %}fixed-image-media scroll-trigger animate--slide-in">
      {%- liquid
          assign sizes = '100vw'
      -%}
      {{
        section.settings.image
        | image_url: width: 3000
        | image_tag:
          widths: widths,
          sizes: sizes,
          class: "pc",
          style: max_width_style
      }}
      {%- if section.settings.image_mobile != blank -%}
      {{
        section.settings.image_mobile
        | image_url: width: 1100
        | image_tag:
          widths: widths,
          sizes: sizes,
          class: "sp"
      }}
      {%- endif -%}
    </div>
  {%- endif -%}

</div>

{% schema %}
{
  "name": "t:sections.fixed-image.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.fixed-image.settings.image.label",
      "info": "t:sections.fixed-image.settings.image.info"
    },
    {
      "type": "number",
      "id": "max_width",
      "label": "t:sections.fixed-image.settings.max_width.label",
      "default": 1500
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.fixed-image.settings.image_mobile.label",
      "info": "t:sections.fixed-image.settings.image_mobile.info"
    },
    {
      "type": "checkbox",
      "id": "wide_type",
      "default": false,
      "label": "t:sections.fixed-image.settings.wide_type.label"
    },
    {
      "type": "checkbox",
      "id": "diagonal_background",
      "default": false,
      "label": "斜めの背景を有効にする"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "t:sections.fixed-image.presets.name"
    }
  ]
}
{% endschema %}
